.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: -50px;  /* Ajustez cette valeur pour positionner le logo juste au-dessus du conteneur */
}

.home-title {
  color: #f0f0f0;
  margin-bottom: 10px;
  position: relative;
  top: -30px;  /* Ajustez cette valeur pour positionner le titre */
}

.logo-container {
  position: relative;
  z-index: 1;  /* Assurez-vous que le logo est au-dessus du conteneur */
}

.home-logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #fff;  /* Bordure blanche autour du logo */
}

.home-container {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);  /* Léger fond blanc pour le conteneur */
  margin-top: 100px;  /* Ajustez cette valeur pour compenser la hauteur du logo */
  z-index: 0;  /* Assurez-vous que le conteneur est en arrière-plan */
}

.home-subtitle {
  color: #f0f0f0;
  margin-bottom: 30px;
}

.home-buttons {
  margin-top: 20px;
}
